@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

h2 {
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
    text-transform: uppercase;
}

img {
    width: 100%;
    height: 100%;
}

#strip-top {
    display: flex;
    justify-content: center;
    align-self: center;
    height: 20px;
    width: 100%;
    color: #fff;
    background-color: seagreen;
}

#strip-center {
    margin: 10px 0 10px 0;
    display: flex;
    justify-content: space-between;
    max-width: 894px;
    width: 100%;
    min-width: 650px;
    height: 96px;

    .logo-container {
        height: 100%;
    }
}

nav {
    align-self: flex-end;
    text-transform: uppercase;

    a {
        font-size: 20px;
        color: #fff;
        background-color: seagreen;
        padding: 12px 20px;
        display: block;

        &:hover {
            background-color: yellowgreen;
        }
    }

    ul {
        display: flex;
        list-style: none;
        position: relative;

        >li {
            &:hover .sub-menu-1 {
                visibility: visible;
            }
        }
    }

    .sub-menu-1,
    .sub-menu-2 {
        visibility: hidden;
        z-index: 1;
        position: absolute;
        display: flex;
        flex-direction: column;
    }

    .sub-menu-2 {
        left: 100%;
        top: 141px;
        width: max-content;
    }

    .sub-menu-1>li:hover .sub-menu-2 {
        visibility: visible;
    }
}

#strip-down {
    width: 894px;
    height: 290px;

    .mySlides {
        display: none;
    }

    img {
        width: 100%;
        height: 290px !important;
        vertical-align: top;
        border-radius: 5px;
    }

    /* Slideshow container */
    .slideshow-container {
        position: relative;
        margin: auto;
    }

    /* Next & previous buttons */
    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }

    /* Position the "next button" to the right */
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }

    /* Caption text */
    .text {
        color: #f2f2f2;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
    }

    /* Number text (1/3 etc) */
    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }

    .active,
    .dot:hover {
        background-color: #717171;
    }

    /* Fading animation */
    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    }

    @-webkit-keyframes fade {
        from {
            opacity: .4
        }

        to {
            opacity: 1
        }
    }

    @keyframes fade {
        from {
            opacity: .4
        }

        to {
            opacity: 1
        }
    }

    /* On smaller screens, decrease text size */
    @media only screen and (max-width: 300px) {

        .prev,
        .next,
        .text {
            font-size: 11px
        }
    }
}

section {
    margin-top: 20px;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    main {
        display: flex;
        justify-content: space-between;
        width: 894px;
        height: 212px;

        article {
            width: 565px;
            height: 100%;

            hgroup {
                font-family: 'Roboto Slab', serif;
            }

            h3 {
                font-weight: 400;
            }

            h4 {
                font-weight: 300;
            }

            p {
                text-align: justify;
            }

            p:first-child {
                margin-top: 20px;
            }
        }

        aside {
            width: 325px;
            height: 100%;
            

            img {
                border-radius: 5px;
            }
        }
    }

    article#destaques {
        width: 894px;

        #container-figures {
            display: flex;
            justify-content: space-between;

            figure {
                width: 196px;
                height: 163px;
                position: relative;
                transition: .5s all;

                img {
                    border-radius: 5px;
                }

                &:hover img {
                    opacity: 0.4;
                }

                &:hover figcaption {
                    visibility: visible;

                }

                figcaption {

                    visibility: hidden;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    text-align: center;


                    .text {

                        background-color: rgb(4, 169, 109, .8);
                        color: white;
                        font-size: 16px;
                        padding: 16px 32px;
                        cursor: pointer;
                    }
                }
            }
        }
    }   
}
 

footer{
    margin-top: 50px;
    background-color: seagreen;
    height: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    nav {
        align-self: unset;
    }

    p {
        margin-top: 20px;
        color: #fff;
    }

}

@media screen and (width: 912px) {

    #strip-down {
        width: 100%;
        height: 290px;
    }

    section {

        main {
            flex-direction: column;
            width: 100%;
            height: max-content;

            article {
                width: 100%;
                padding-left: 30px;

                p {
                    text-align: justify;
                }

                p:first-child {
                    margin-top: 20px;
                }
            }

            aside {
                margin-top: 20px;
                width: 100%;
                height: 325px;
            }
        }

        article#destaques {
            width: 100%;

            h2 {
                text-align: center;
            }

            #container-figures {
                flex-direction: column;

                figure {
                    width: 100% !important;
                    height: 250px;
                    margin-bottom: 20px;
                }
            }
        }
    }
}